.baseAnimationGrid {
  display: grid;
  row-gap: 2px;
  column-gap: 8px;

  &>div {
    display: flex;
  }

  &.compact {
    column-gap: 0;
  }
}

.animationGrid {
  @extend .baseAnimationGrid;
  grid-template-columns: repeat(4, min-content);
  grid-template-rows: repeat(4, min-content);
}

.animationGridSbox {
  @extend .baseAnimationGrid;
  grid-template-columns: repeat(17, min-content);
  grid-template-rows: repeat(17, min-content);
  place-items: center;

  .upperDiv {
    position: relative;
    height: 20px;

    &::after {
      content: '';
      position: absolute;
      bottom: -2px;
      left: -10px;
      width: 30px;
      border-bottom: 1px solid black;
    }
  }

  .leftDiv {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      right: -4px;
      top: 0;

      height: 30px;
      border-right: 1px solid black;
    }
  }
}

.animationGridKey {
  @extend .baseAnimationGrid;

  grid-template-rows: repeat(4, min-content);

  &.small {
    grid-template-columns: repeat(4, min-content);
  }

  &.medium {
    grid-template-columns: repeat(6, min-content);
  }

  &.large {
    grid-template-columns: repeat(8, min-content);
  }
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.animationGridKeyRow {
  @extend .baseAnimationGrid;
  grid-template-columns: repeat(8, min-content);

  & div {
    display: flex;
  }
}

.tinyAnimationGrid {
  @extend .baseAnimationGrid;
  grid-template-columns: min-content;
  grid-template-rows: min-content;
}