.scrollbar {
  overflow: auto;
}

.scrollbar::-webkit-scrollbar {
  background-color: transparent;
  width: 6px;
  height: 6px;
  z-index: 999999;
}

.scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
  margin: 0 8px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 16px;
}

.scrollbar::-webkit-scrollbar-button {
  display: none;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #a0a0a5dc;
}