a:-webkit-any-link {
  text-decoration: unset;
}

a:-webkit-any-link:active {
  color: #2C1D66;
}

::-webkit-resizer {
  background-color: transparent;
}

a {
  text-decoration-line: none;
}

address {
  display: unset;
}

html {
  overflow: auto;
}

p {
  font-size: 14px;
  line-height: 20px;
}